
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
/* overflow: hidden; */
z-index: 3;
} 

/* Code for Text design in Header*/

header .left {
height: 100%;
flex-grow: 1;
padding: 20px;
}


header .right {
height: 100%;
flex-grow: 1;
  
}
.nameBox > p, #ageTimer, .bar {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
}

#petName {
padding: 10px;
margin-left: 40px;
}

/* Basic grid, the skeleton of the design */

.container
{
  position: relative;
  display: grid;
  grid-template-rows: 0.5fr 5fr 1.5fr;
  grid-template-columns:  2fr 1fr 2fr;
  grid-template-areas:
    "header header header"
    "main   main  aside"
    "footer footer footer";
  grid-gap: .75em;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

header
{
  grid-area: header;
  background-color: #9b59b6;
}

main
{
  grid-area: main;
  background-color: white
  /* background-image: url(Images/farm-background.jpg); */
  
}

aside
{
  grid-area: aside;
  background-color: #f1c40f;
  
}

/* #backImage {
  image-rendering:pixelated;
  width: 1px;
  height: 1px;
  z-index: auto;
} */

footer
{
  grid-area: footer;
  background-color: #1abc9c;
}

/* Code for Pet Design in Main*/

.pet-area{
  z-index: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  /* background: url(Images/farm-background.jpg); */
}

/* Code for Box Design in Aside */

/* h4 {
  display: flex;
  position: relative;

} */

.instbox {
  /* display: flex; */
  flex-direction: column;
  align-items: left;
  height: 200px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}


/* Start Button*/

.submitButton {
  margin-top: 20px;
  margin-left: 55px;
  padding: 11px 0px;
  border-radius: 999px;
  background-color: transparent;
  border: 4px solid;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  background-color:#ddd;
  position: fixed;
  padding: 0.5em;  
  /* transform: translateX(-50%); */ 
} 

#input-form {
  z-index: 99999;
  top: 25%;
  left: 25%;
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: rgb(197, 228, 228);
  border-radius: 20px;
}

.inputField {
  margin-top: 50px;
  padding-top: 10px;
  width: 200px;
  margin-left: 30px;
}

/* GameOver, Win and Restart*/

.quitBox {
    z-index: 6;
    top: 35%;
    left: 30%;
    position: absolute;
    height: 200px;
    width: 300px;
    background-color: rgb(12, 15, 15);
    display: none;
    justify-content: center;
    align-content: center;
}

.quitBox > p {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  color: white;
}

.winBox {
  z-index: 6;
  top: 35%;
  left: 30%;
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: rgb(12, 15, 15);
  display: none;
  justify-content: center;
  align-content: center;
}

.winBox > p {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
text-align: center;
margin-top: 50px;
color: white;
}

/* Code for Button Design in Footer */

.button-area {
display: flex;                  
flex-direction: row;            
flex-wrap: nowrap;              
justify-content: space-evenly; 
}

#play-Btn,
#feed-Btn,
#sleep-Btn {
    border-radius: 50%;
    cursor: pointer;
    background-color:whitesmoke;
  

}

/* #play {
    background: url(https://i.imgur.com/wgtuy1It.png);
    height: 20px;
} */


/* .button {
  display: flex;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, 
    transform 150ms ease; */
  /* -webkit-appearance: none;
  -moz-appearance: none;
} */

button:hover,
button:focus {
  background:whitesmoke;
  cursor: pointer;
}

button:active {
  transform: scale(0.99);
}  




/*Animations*/
  
@keyframes progress-animation {
  0% { width: 50%;}
  100% { width: 100%;}

}
  #boredTimer {
    position: relative;
    height: 5%;
    background-color:#1abc9c;
    margin: 20px;
    animation: progress-animation 500s forwards;
    border-radius: 7px;
  
  }

  #hungerTimer {
    position: relative;
    height: 5%;
    background-color:#1abc9c;
    margin: 20px;
    animation: progress-animation 100s forwards;
    border-radius: 7px;
    
  }

  #sleepTimer {
    position: relative;
    height: 5%;
    background-color:#1abc9c;
    margin: 20px;
    animation: progress-animation 60s forwards;
    border-radius: 7px;
    
  }
    
  #egg {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; 
  animation-duration: 2s; 
  animation-iteration-count: 1000;
  }
  
  @keyframes flash {
    0%, 50%, 100% { opacity: 1;}
    25%, 75% {opacity: 0;}
    100% { color: red;}
  }
  
  .flash {
  animation-timing-function: ease-in-out;
  animation-name: flash;
  animation-duration: .01s;
  animation-iteration-count: 1000;
  }
  

/* Code for lights on-off switch  */

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.lightSwitch {
  display: flex;
  margin-left: 90%;
  margin-top: 20px;
  }

* {
	box-sizing: border-box;
}


.dark-mode {
	/* background-color: black; */
  color: white;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 2;
  opacity: 0.2;
}

.checkbox {
	opacity: 0;
	position: relative;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.bal {
  background-color: #ffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-fa-moon-o{
	color: #f1c40f;
  
}

.fa-fa-sun-o {
	color: #f39c12;
}


