
/* * {
    margin: 20;
    padding: 20;
  } */
body {
    overflow: hidden;
} 


.container
{
  display: grid;
  grid-template-rows: 0.5fr 5fr 1.5fr;
  grid-template-columns:  2fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "main   main  aside"
    "footer footer footer";
  grid-gap: .75em;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

header
{
  grid-area: header;
  background-color: #9b59b6;
}

main
{
  grid-area: main;
  background-color: white; 
}

aside
{
  grid-area: aside;
  background-color: #f1c40f;
  
}

footer
{
  grid-area: footer;
  background-color: #1abc9c;
}

/* Code for Pet Design in Main*/
.pet-area {
  display: flex;                  
  flex-direction: row;   
  align-items: center;

}


/* Code for Box Design in Aside */

h4 {
  display: flex;
  position: relative;

}

.instbox {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 150px;
  border: 0.5rem outset khaki;
  /* outline: 0.5rem solid khaki; */
  /* box-shadow: 0 0 0 2rem skyblue; */
  /* border-radius: 12px; */
  font: bold 1rem sans-serif;
  margin: 2rem;
  margin-bottom: 5rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

/* Code for Progress Bar Design in Aside */

/* .playProgress, .feedProgress, .sleepProgress { */
  
  .bar {
  position: relative;
  height: 5%;
  background-color:#1abc9c;
  margin: 20px;
  animation: progress-animation 100s forwards;
  border-radius: 7px;

  }
  

@keyframes progress-animation {
  0% { width: 30%;}
  100% { width: 100%;}

}

/* .feedProgress {
  position: relative;
  height: 5%;
  background-color:#1abc9c;
  margin: 20px;
  animation: progress-animation 10s forwards;
 
}

@keyframes progress-animation {
  0% { width: 0%;}
  100% { width: 100%;}

}

.sleepProgress {
  position: relative;
  height: 5%;
  background-color: #1abc9c;
  margin: 20px;
  animation: progress-animation 10s forwards;
}

@keyframes progress-animation {
  0% { width: 0%;}
  100% { width: 100%;}

} */

/* Code for Button Design in Footer */

.button-area {
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-evenly; 
    

}

#play-Btn,
#feed-Btn,
#sleep-Btn {
    border-radius: 15%;
}

/* #play {
    background: url(https://i.imgur.com/wgtuy1It.png);
    height: 20px;
} */


/* .button {
  display: flex;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, 
    transform 150ms ease; */
  /* -webkit-appearance: none;
  -moz-appearance: none;
} */

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
} 


/* Main Start-Up Screen  */

/* h1 {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 16px;
    
} */
.start {
  background-image: url(Images/hamster.jpg);
  position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* .start-popup {
    position: relative;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
} */

.start-form {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.form input {
    margin-bottom: 16px;
    outline: none;
}

.get-username{
    font-size: 32px;
    text-align: center;
}

.username-field {
    border: none;
    border-bottom: 20px solid;
    font-size: 32px;
    text-align: center;
    
}

.placeholder {
    color: greenyellow;
}

.start-btn {
    width: 12vw;
    padding: 20px 0px;
    border-radius: 999px;
    background-color: transparent;
    border: 4px solid;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    margin-top: 24px;
}

.start-btn:hover {
    background-color: greenyellow;
}